Q.1 Write a code to reverse a string.

In [ ]:
#Ans
#string reverse
string1 = "Shivam Pandey"

In [ ]:
string1[::-1]

'yednaP mavihS'

In [ ]:
s = "pwskills"

In [ ]:
print(s[::-1])

sllikswp

Q.2 Write a code to count the number of vowels in a string.

In [ ]:
#Ans
#count the vowel
s=input("Enter your string:")
print(s)
vowels = "aeiouAEIOU"
count = 0
for char in s:
    if char in vowels:
        count +=1
print(count)

Enter your string:Shivam Pandey
Shivam Pandey
4

Q.3 Write a code to check if a given string is a palindrome or not.

In [ ]:
#Ans
#Program to check a string is palindrome or not.
a= input("Enter a string:")
b=a[-1::-1]
if(a==b):
      print("palindrome")
else:
    print("not palindrome")

Enter a string:madam
palindrome

Q.4 Write a code to check if two given strings are anagrams of each other.


Ans. 1.Both strings should be of equal length.
    2. Both strings should have same charecters in same order or different order

In [ ]:

#ANS. 1.Both strings should be of equal length.   2. Both strings should have same charecters in same order or different order.
#examples>>

str1=input("Enter string1:")
str2=input("Enter string2:")
if len(str1)!=len(str2):
    print("Not Anagrams")
else:
    if sorted(str1)==sorted(str2):
        print("Strings are Anagrams")
    else:
        print("Not Anagrams")

Enter string1:earth
Enter string2:heart
Strings are Anagrams

Q.5 Write a code to find all occurrences of a given substring within another string.

In [ ]:

#Ans.
string = input("Enter a string:")
substring = input("Enter a substring to check in string:")

if substring in string:
    print("Yes substring is present !!!")
else:
    print("substring is absent...")

Enter a string:Hello world
Enter a substring to check in string:o w
Yes substring is present !!!

Q.6 Write a code to perform basic string compression using the counts of repeated charecters.

In [ ]:

#Ans.Here the ans is 3 times A , 3 times B and 3 times C
string = input("Enter a string:")
char = string[0]
result = ""
count=0
string=string+" "
for i in string:

    if i==char:
        count+=1
    else:
        result=result+char+str(count)
        char=i
        count=1
print(result)

Enter a string:AAABBBCCC
A3B3C3

Q.7 Write a code to determine if a string has all unique characters.

In [ ]:

#Ans.
def check_unique(string):
    unique_characters = ["a","b","c"]
    for character in string:
        if character in unique_characters:
            return True
        else:
            unique_characters.append(character)
    return False
test= "Shivam"
print(check_unique(test))

True

Q.8 Write a code to convert a given string  to uppercase or lowercase.

In [ ]:

#Ans uppercase of a string
string = input("Enter a string:")
print(string.upper())

Enter a string:Hello World
HELLO WORLD

In [ ]:
#Lowercase of a string
string=input("Enter a string:")
print(string.lower())

Enter a string:Hello World
hello world

Q.9 Write a code to count the number of words in a string.

In [ ]:

#Ans.
s= input("Enter a string:")
strlist=s.split()
print(strlist)

Enter a string:Shivam   Hello   World
['Shivam', 'Hello', 'World']

In [ ]:
print(len(strlist))

3

Q.10 Write a code to concatenate two strings without using the + operator.

In [ ]:

#Ans concatenate of two string without using +, here we use ',' in place of + operator
str1="Hello"
str2="World"
print(str1,str2)

Hello World

Q.11. Write a code to remove all occurrences of a specific element from a list.

In [ ]:

#Ans. Here some integer value in alist some integer occurr many times, here we remove value 14 which occurr two times
list=[11,13,13,11,14,14,100,200]
value=14
while value in list:
    list.remove(value)
print(list)

[11, 13, 13, 11, 100, 200]

In [ ]:
#example2. Here a list some string value ,we remove student which occurr 3 times
lis=["Shivam","Student","Student","Student","Satyam"]
value="Student"
while value in lis:
    lis.remove(value)
print(lis)

['Shivam', 'Satyam']

Q.12. Impliment a code to find the second largest number in a given list of integers.

In [ ]:

#Ans.
numbers=[10,20,30,40,50,60,70,80,90,100]

numbers.sort()

print(numbers[-2])

90

Q.13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [ ]:

#Ans.
def count_occurrences(lst):
#Initialize an empty dictionary
    occurrence_dict = {}
    #Iterate over the list and count occurrence
    for item in lst:
        if item in occurrence_dict:
            occurrence_dict[item]+=1
        else:
            occurrence_dict[item]=1
    return occurrence_dict
my_list=[10,20,10,30,30,30,40,50,50,"Shivam"]
result=count_occurrences(my_list)
print("occurrences:",result)

occurrences: {10: 2, 20: 1, 30: 3, 40: 1, 50: 2, 'Shivam': 1}

Q.14. Write a code to reverse a list in-place without using any built-in reverse function.

In [ ]:

#Ans.
def reverse_list(lst):
    start = 0
    end = len(lst) - 1

    while start < end:
        lst[start], lst[end] = lst[end],lst[start]

        #move start forward and end backward
        start += 1
        end -= 1
    return lst
#example usage
my_list = [1,2,3,4,5]
reversed_list = reverse_list(my_list)
print("Reversed List:",reversed_list)

Reversed List: [5, 4, 3, 2, 1]

Q.15. Impliment a code  to find and remove  duplicates from a list while preserving the original order of element.

In [ ]:

#Ans.
def remove_duplicates(lst):
    seen = set()
    result = []

    for item in lst:
        if item not in  seen:
            result.append(item)
            seen.add(item)
    return result
#example usage
my_list=[3,3,4,4,4,5,5.6,7,7,7,8,8,9,9,9]
unique_list=remove_duplicates(my_list)
print("list without duplicates:",unique_list)

list without duplicates: [3, 4, 5, 5.6, 7, 8, 9]

Q.16. Create a code to check  if a given list is sorted (either in ascending or descending order ) or not.

In [ ]:

#Ans.
def is_sorted(lst):
    if lst==sorted(lst):
        return "the list is sorted in ascending order."

    elif lst==sorted(lst,reverse=True):
        return "the list is sorted in descending order."
    else:
        return "the list is not sorted."

#example usage
my_list1=[1,2,3,4,5]
result1=is_sorted(my_list1)
print(result1)

my_list2=[5,4,3,2,1]
result2=is_sorted(my_list2)
print(result2)

my_list3=[2,1,3,5,7,9]
result3=is_sorted(my_list3)
print(result3)

the list is sorted in ascending order.
the list is sorted in descending order.
the list is not sorted.

Q.17. Write a code to merge two sorted lists into a single sorted list.

In [2]:
#Ans.
def merge_sorted_lists(list1,list2):
    merged_list=[]
    i,j=0,0

    while i<len(list1) and j<len(list2):
        if list1[i]<list2[j]:
            merged_list.append(list1[i])
            i+=1
        else:
            merged_list.append(list2[j])
            j+=1
    while i<len(list1):
      merged_list.append(list1[i])
      i+= 1
    while j<len(list2):
      merged_list.append(list2[j])
      j+= 1
    return merged_list

In [3]:
#Q.17
#example:
list1=[1,2,5,7]
list2=[3,4,6,8]
result=merge_sorted_lists(list1,list2)
print("Merged sorted list:",result)

Merged sorted list: [1, 2, 3, 4, 5, 6, 7, 8]

Q.18. Impliment a code  to find the intersection of two given lists.

In [ ]:

#Ans
list1= [1,2,3,4,5]
list2=[4,5,6,7,8]
intersection=list(set(list1) & set(list2))
print("intersection:",intersection)

intersection: [4, 5]

Q.19. Create a code to find the union of two lists without duplicates.

In [ ]:

#Ans
def union(list1,list2):
    return list(set(list1)|set(list2))
#example
list1=[5,6,7,8]
list2=[7,8,9,10]
result= union(list1,list2)
print(result)

[5, 6, 7, 8, 9, 10]

Q.20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [ ]:

#Ans
import random
def shuffle_list(lst):
  #iterate over the list from the last element to the second element
  for i in range(len(lst)-1,0,-1):
      #Generate a random index from 0 to i
      j= random.randint(0,i)
      #Swap elements at i and j
      lst[i],lst[j] = lst[j],lst[i]
#example
my_list=[5,6,7,8,9,10,13,17]
shuffle_list(my_list)
print(my_list)

[6, 5, 10, 13, 7, 9, 17, 8]

Q.21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [ ]:

#Ans.
def common_elements(tuple1,tuple2):

    common_set=set(tuple1)&set(tuple2)
    return tuple(common_set)

#example:
tuple1=(50,60,70,80,90)
tuple2=(70,80,90,100)
result=common_elements(tuple1,tuple2)
print(result)

(80, 90, 70)

Q.22. Create a code that prompts the user to enter two sets of integers seperated by commas.Then ,print the intersection of  these two sets.

In [ ]:

#Ans.

def get_set_input(prompt):
    user_input = input(prompt)
    user_set = set(map(int, user_input.split(',')))
    return user_set
def main():

    set1 = get_set_input("Enter the first set of integers(seperated by commas): ")
    set2 = get_set_input("Enter the second set of integers(seperated by commas):")

    intersection = set1&set2

    print("The intersection of the two sets is:",intersection)

main()

Enter the first set of integers(seperated by commas): 40,50,60
Enter the second set of integers(seperated by commas):50,70,80
The intersection of the two sets is: {50}

Q.23. Write a code to concatenate two tuples.The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [ ]:

#Ans
def concatenate_tuples(tuple1,tuple2):
    concatenate_tuple=tuple1+tuple2
    return concatenate_tuple
#example
tuple1=(1,2,3,4,5)
tuple2=(6,7,8,9,10)
result=concatenate_tuples(tuple1,tuple2)
print(result)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Q.24. Devlop a code that prompts the user to input two sets of strings.Then print the elements that are present in the first set but not in the second set.

In [ ]:

#Ans.
def get_set_input(prompt):
    #Take input from the user , split by commas, and convert each elements to a string
    user_input = input(prompt)
    user_set = set(user_input.split(','))
    return user_set
def main():
  #prompt the user for two sets of string
  set1 = get_set_input("Enter first set of string(separated by commas):")
  set2 = get_set_input("Enter second set of string(separated by commas):")

  difference= set1-set2
  print("Element present in first set but not in second set:",difference)
main()

Enter first set of string(separated by commas):shivam,pandey,satyam,shubham
Enter second set of string(separated by commas):Abhishek,Akanksha,shivam
Element present in first set but not in second set: {'satyam', 'shubham', 'pandey'}

Q.25. Create a code that takes a tuple and two integers as input.The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [ ]:

#Ans.
def slice_tuple(original_tuple, start_index, end_index):

    return original_tuple[start_index:end_index]

original_tuple=(30,40,50,60,70,80,90)
start_index = 2
end_index = 5
result= slice_tuple(original_tuple,start_index,end_index)
print(result)

(50, 60, 70)

Q.26. Write a code that prompts the user  to input two sets of charecters.Then,print the union of these two sets.

In [ ]:

#Ans
def get_set_input(prompt):
    user_input = input(prompt)
    user_set = set(user_input.split(','))
    return user_set
def main():

    set1 = get_set_input("Enter the first set of charecters(seperated by commas):")
    set2= get_set_input("Enter the second set of charecters(seperated by commas):")

    union= set1|set2

    print("The union of two sets is:",union)
main()

Enter the first set of charecters(seperated by commas):shivam,pwskills,scientist
Enter the second set of charecters(seperated by commas):pwskills,ds,python
The union of two sets is: {'ds', 'scientist', 'pwskills', 'shivam', 'python'}

Q.27. Devlop a code that takes a tuple  of integers as input.The function should return the maximum and the minimum values from the tuple using tuple unpacking.

In [ ]:

#Ans.
def find_max_min(input_tuple):

    max_val = max(input_tuple)
    min_val = min(input_tuple)

    return max_val,min_val
#example
input_tuple =(1,2,3,5,7,9)
max_val,min_val=find_max_min(input_tuple)
print("Maximum value:",max_val)
print("Minimum value:",min_val)

Maximum value: 9
Minimum value: 1

Q.28. Create a code that defines two sets of integers.Then, print the union ,intersection and difference of these two sets.

In [ ]:

#Ans
set1={1,2,3,4,5}
set2={4,5,6,7,8}
union=set1|set2
intersection=set1&set2
difference=set1-set2
print("union:",union)
print("intersection:",intersection)
print("difference:",difference)

union: {1, 2, 3, 4, 5, 6, 7, 8}
intersection: {4, 5}
difference: {1, 2, 3}

Q.29. Write a code that takes a tuple and an element as input.The function should return the count of occurrences of the given element of the tuple.

In [ ]:

#Ans.
def count_occurrences(input_tuple,element):
    return input_tuple.count(element)

input_tuple=(1,2,4,5,6,8,9,7,6,7,3,)
element=7
count=count_occurrences(input_tuple,element)
print(f"The element{element} appears {count} times in the tuple.")

The element7 appears 2 times in the tuple.

Q.30. Devlop a code that prompts the user  to input two sets of strings.Then print the symmetric difference of these two sets.

In [ ]:

#Ans.
def get_set_input(prompt):
    user_input=input(prompt)
    user_set=set(user_input.split(','))
    return user_set
def main():
    set1=get_set_input("Enter the first set of strings (separated by commas):")
    set2=get_set_input("Enter the second set of strings (separated by commas):")
    symmetric_difference=set1^set2
    print("The symmetric difference of the two sets of string is:",symmetric_difference)
main()

Enter the first set of strings (separated by commas):apple,banana,orange,
Enter the second set of strings (separated by commas):satyam,shivam,apple,orange
The symmetric difference of the two sets of string is: {'satyam', '', 'shivam', 'banana'}

Q.31.Write a code that takes a list of words as input and return a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [ ]:

#Ans.
def word_frequency(word_list):
    frequency_dict = {}

    for word in word_list:
        if word in frequency_dict:
            frequency_dict[word] +=1
        else:
            frequency_dict[word] = 1
    return frequency_dict
#example
word_list = input("Enter a list of words(separated by spaces):").split()
result = word_frequency(word_list)
print("Word frequencies:",result)

Enter a list of words(separated by spaces):apple mango apple
Word frequencies: {'apple': 2, 'mango': 1}

Q.32.Write a code that takes two dictionaries as input and merges them into a single dictionary.If there are common keys,the values should be added together.

In [ ]:

#Ans
def merge_dicts(dict1,dict2):
    merged_dict=dict1.copy()

    for key, value in dict2.items():
        if key in merged_dict:
           merged_dict[key]+= value
        else:
            merged_dict[key]= value
    return merged_dict
#example
dict1={'a':3,'b':4,'c':5}
dict2={'b':3,'c':6,'d':9}
result=merge_dicts(dict1,dict2)
print("Merged Dictionary:",result)

Merged Dictionary: {'a': 3, 'b': 7, 'c': 11, 'd': 9}

Q.33.Write a code to access a value in a nasted dictionary.The function should take the dictionary and a list of keys as input,and return the corresponding value.If any of keys do not exist in the dictionary ,the function should return none.

In [ ]:

#Ans.
def access_nested_dict(nested_dict,keys):
  #iterate over the list of keys
  for key in keys:
      if key not in nested_dict:
          return None
      nested_dict=nested_dict[key]
  return nested_dict
#example
nested_dict={
    'a': {
        'b':{
            'c':10
        },
        'd':20
    }
}

keys =['a','b','c']
result=access_nested_dict(nested_dict,keys)
print("value:",result)
#example with non existance key
keys_non_existent =['a','x','c']
result_non_existent = access_nested_dict(nested_dict,keys_non_existent)
print("Value for non-existent keys:",result_non_existent)

value: 10
Value for non-existent keys: None

Q.34. Write a code that takes a dictionary as input and returns a sorted version  of it based on the values.You can choose  whether to sort in ascending or descending order

In [ ]:

#Ans

def sort_dict_by_value(input_dict,descending=False):
    #sort the dictionary by its values
    sorted_dict=dict(sorted(input_dict.items(),key=lambda item:item[1],reverse=descending))
    return sorted_dict

#example
input_dict={'a':4,'b':5,'c':2,'d':9}
#sort in ascending order(default)
sorted_dict_ascending=sort_dict_by_value(input_dict)
print("Sorted dictionary in ascending order:",sorted_dict_ascending)
#sorted in descending order
sorted_dict_descending= sort_dict_by_value(input_dict,descending=True)
print("Sorted dictionary in descending order:",sorted_dict_descending)

Sorted dictionary in ascending order: {'c': 2, 'a': 4, 'b': 5, 'd': 9}
Sorted dictionary in descending order: {'d': 9, 'b': 5, 'a': 4, 'c': 2}

Q.35. Write a code that inverts a dictionary,swapping keys and values.Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [ ]:

#Ans
def inverted_dict(input_dict):
    inverted_dict={}
    #Iterate through the origional dictionary
    for key, value in input_dict.items():
      #If the value is already in the inverted dictionary,append the key to the list
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            #if the value is not in the inverted dictionary, create a new entery with the key in a list
            inverted_dict[value]=[key]
    return inverted_dict
#example
input_dict={'a':5,'b':9,'c':5,'d':1}

inverted_dict=inverted_dict(input_dict)
print("inverted dictionary:",inverted_dict)

inverted dictionary: {5: ['a', 'c'], 9: ['b'], 1: ['d']}